 * {
  transition: all .2s;
 }

 .first {
 

background: linear-gradient(0.01deg, #000000 0.02%, rgba(0, 0, 0, 0.6) 95.44%);
padding-bottom: 5rem;
 }


.kkk {
   animation-name: move;
   animation-duration: 10s;
    animation-timing-function: cubic-bezier(3.12,5.89,6.89,1.58);
   animation-iteration-count: 2;
}
body {
  margin: 0 auto;
  padding: 0;
}
 .container {
	max-width: 1170px;
	margin: 0 auto;
   }
   .firtshead {
    display: -webkit-flex;
    display: -ms-flex;
   	display: flex;
    -ms-align-items:center;
    align-items: center;
   	justify-content: space-between;
   	padding: 20px 0;
   }
  .menyuend {
    display: inline-block;
    padding: 0 70px;
  }
   .menyuend img {
      height: 20px;
    padding: 0 20px;
  }
   .logo img {
   	height: 45px;
     
   }
   .firstheader1 p {
   max-width: 420px;
height: 86px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 28px;
/* or 175% */


color: #FFFFFF;

   }
 
  
     .firstheader3 {
      position: relative;
     
    background: url(../img/my.jpg) no-repeat center;
    background-size: cover;
    width: 300px;
    height:300px;
    border-radius: 50%;
    border: 12px solid #fff;
    
   }
   .firstheader {
   display: flex;
   justify-content: space-between;
   
   }
   .firstheader1 h5 {
   	


font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFBB01;


   }
   .firstheader1 h2 {

max-width: 672px;


font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 59px;
/* identical to box height */


color: red;


   }
.firstheader1 button {
	font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;

align-items: center;
text-align: center;
text-transform: uppercase;

color: #2E2E30;
width: 285px;
height: 65.17px;
background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
box-shadow: 0px 4px 0px #B68500;
border-radius: 5px 5px 10px 10px;

border: none;
}

/*222222222222222222222222222222222222222222222222222222222222*/
.second {
  margin: 0;
  padding: 0;
	background: #000000;
	
}
.secondtxt h2 {

width: 436px;
height: 42px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;


}
.secondhead {
	display: flex;
	flex-wrap: wrap;
	
}
.secondhead1 h3 {
max-width: 353px;
height: 28px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 28px;
/* identical to box height, or 117% */


color: #FFFFFF;

}
.secondhead1 {
	flex-basis: 33.33%;


}
.secondhead1 p{
width: 287px;
height: 89px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
color: #FFFFFF;

}

.secondhead1 img {
	height: 55px;
}
.third {
	background-color: #000000;
	
}
.thirdhead h2 {
width: 346px;
height: 42px;


font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;

}
.slide-itemtxt h2 {
	color: #fff;
  
   width: 440px;
height: 28px;
left: 571px;


font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;

}
.slideimgheade h4 {
   width: 53px;
height: 21px;


font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #FFFFFF;

}
.slideimgheade h5{
   width: 107px;
height: 19px;


font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #FFFFFF;

}
.rel_slider {
   height: 400px;
   border: none;
}

.slide-itemimg img {
   width: 340px;
   height: 270px;
  
}
.slide {
   display: flex;

}

.slide-item {
   display: flex;
}
.slideimgheader, .slideimgheader1 h4,h5 {
   color: #fff;
 
}
.slideimgheade {
   display: flex;
  
}
.slideimgheader, .slideimgheader1 {
   display: flex;
   justify-content: space-between;
   max-width: 300px;
}
.simg img {
   height: 40px;
   vertical-align: bottom;
}
.sstyle h4{


}
.sstyle {
   margin-left: 1rem;
}
.slide-itemtxt  {
   margin-left: 5rem;
}
.slideimgheader1 {

}
.scripttxt h3, p {
   color: #fff;
  
}
.slidep {
   display: flex;
 
}
.slidepimg img {
   height: 35px;
  
}
.scripttxt p{
   max-width: 450px;
 font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 150%;
/* or 24px */


color: #FFFFFF;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    height: 2px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
   
   
background: #FFBB01;


}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    background-color: red;
}
.slick-dots li.slick-active button:before {
  
    opacity: .75;
    font-size: 40px;
    
 }





 .footer {
   background-color: #000;
 
 }

 .footerhead h2 {
   width: 337px;
height: 42px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;

 }
 .footerbox {
   width: 340px;
height: 409px;

background: #FFFFFF;
box-shadow: -5px 5px 0px #FFC41D;
border-radius: 5px;

 }
 .footerend button {
  width: 309px;
height: 63px;
background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
box-shadow: 0px 4px 0px #B68500;
border-radius: 5px 5px 10px 10px;
border: none;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 28px;
/* or 233% */


align-items: center;
text-align: center;
text-transform: uppercase;

color: #2E2E30;


 }
.footerboxtxt {
   text-align: center;



font-size: 16px;
line-height: 28px;


color: #000000;

}

  .footerbtn button {
width: 309px;
height: 63px;
background: #F8F8F8;
box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
border-radius: 5px;
border: none;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 28px;
align-items: center;

color: #949494;



  }
  .footerbtn {
   
  }
    .footerbtn1 button {
width: 309px;
height: 63px;
background: #F8F8F8;
box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
border-radius: 5px;
border: none;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 28px;
/* identical to box height, or 200% */

display: flex;
align-items: center;

color: #949494;


 
  }
  .footerbtnstyle {
  
   display: flex;
 

  }
  
  .footerbtnstyle1 {
 
    display: flex;
   
   text-align: center;
  }
.footerheader {
  
   display: flex;
}
.footerleft {
   display: flex;
}
.footerleft h3 {
   width: 99px;
height: 28px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
}
.footerleft a {
width: 124px;
height: 19px;


font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-decoration: none;
color: #FFFFFF;
}
.footerleft2head h3 {
   width: 96px;
height: 28px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;

}
.footerleft2 a {
   width: 95px;
height: 19px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-decoration: none;
color: #FFFFFF;

}
.footerleft2 {
   display: flex;
  
}
.footerleft2head2 {
   margin-top: 4.8rem;
   margin-left: 0.5px;
}
.footerleft2head2 a {
 
}
.footerheader2 {

}
.footermail {
  
}
.footerimg {
  
}
.footerimg1 {
  
}
.footerend a {
width: 227px;
height: 18px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
/* identical to box height */

text-decoration-line: underline;

color: #A5A5A5;
}
.footerend {
  
}


@media only screen and (max-width: 1199px){
  .firstheader2 {
    display: flex;
    justify-content: center;

    width: 300px;
    height: 300px;
    border: 8px solid yellow;

}
@media only screen and (max-width: 900px){
  .firstheader2 {
    display: flex;
    justify-content: center;

    width: 250px;
    height: 250px;
    border: 8px solid green;
    

}
.firstheader1 h2 {
  font-size: 25px;
}
.firstheader1 p {
  max-width: 300px;
  font-size: 12px;
}
.menyuend img {
    height: 20px;
    padding: 0 10px;
}
.firstheader1 h3 {
    width: 80px;
    height: 27px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFBB01;
    display: flex;
    text-align: center;
} 
}
@media only screen and (max-width: 767px){
  .firstheader2 {
    display: flex;
    justify-content: center;

    width: 220px;
    height: 220px;
    border: 8px solid green;
    margin-left: -2rem;

}
 .firstheader1 h5 {
    


font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFBB01;

}
 .menyuend {
    display: inline-block;
    padding: 0 10px;
  }
  .menyuend img {
    height: 20px;
    padding: 0 10px;
}
}
@media only screen and (max-width: 550px){
  .logo img {
    height: 30px;
  }
  .firstheader2 {
    display: flex;
    justify-content: center;

    width: 180px;
    height: 180px;
    border: 8px solid green;
    margin-left: -2rem;

}
.firstheader1 h5 {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #FFBB01;
    
    
} 
 .menyuend {
    display: inline-block;
    padding: 0 70px;
  }
  .menyuend img {
    height: 15px;
    padding: 0 6px;
}
.firstheader1 h2 {
  font-size: 28px;
  color: yellow;
}
.firstheader1 p {
  font-size: 16px;
  max-width: 300px;
  padding-bottom: 3rem;
}
.firstheader {
  padding: 0;
  margin: 0;
  display: flex;
  text-align: center;
  flex-direction: column-reverse;
 align-items: center;
}
.slide-itemtxt h2 {
  color: #fff;
  
   width: 440px;
height: 28px;



font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;

}
.slideimgheade h4 {
   width: 53px;
height: 21px;


font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #FFFFFF;

}
.slideimgheade h5{
   width: 107px;
height: 19px;


font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
/* identical to box height */


color: #FFFFFF;

}
.third {
  padding-bottom: 4rem;
}
.rel_slider {
   height: 200px;
   border: none;
  padding-bottom: 35rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.slide-itemimg img {
   width: 270px;
   height: 200px;
  
}
.slide {
   display: flex;
   flex-direction: column;
justify-content: center;
align-items: center;
}

.slide-item {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.slideimgheader, .slideimgheader1 h4,h5 {
   color: #fff;
 
}
.slideimgheade {
   display: flex;
  
}
.slideimgheader, .slideimgheader1 {
   display: flex;
   justify-content: space-between;
   max-width: 300px;
}
.simg img {
   height: 25px;
   vertical-align: bottom;
}
.sstyle h4{


}
.sstyle {
  
}
.slide-itemtxt h2 {
 padding: 0;
 margin: 0;
 font-size: 18px;

}
.slideimgheader1 {

}
.scripttxt h3, p {
   color: #fff;
  
}
.slidep {
   display: flex;
 
}
.slidepimg img {
   height: 25px;
  
}
.slide-itemimg  {
  display: flex;
  align-items: center;
  justify-content: center;
}
.scripttxt p{
   max-width: 350px;
 font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 150%;
/* or 24px */


color: #FFFFFF;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    height: 2px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
   
   
background: #FFBB01;


}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    background-color: red;
}
.slick-dots li.slick-active button:before {
  
    opacity: .75;
    font-size: 40px;
    
 }
.footerheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.secondtxt {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.secondtxt h2 {
    width: 400px;
    height: 42px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    color: #FFFFFF;
}
.secondhead {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.thirdhead {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.thirdhead h2 {
    width: 350px;
    height: 42px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    color: #FFFFFF;
}
.footerhead {
  margin: 0;
  padding: 0;
   display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.footerbox {
    width: 310px;
    height: 360px;
    background: #FFFFFF;
    box-shadow: -5px 5px 0px #FFC41D;
    border-radius: 5px;
}
.footerboxtxt {
    text-align: center;
    font-size: 12px;
    line-height: 22px;
    color: #000000;
    padding: 0.2rem;
}
.footerbtn button {
    width: 270px;
    height: 63px;
    background: #F8F8F8;
    box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
    border-radius: 5px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    align-items: center;
    color: #949494;
}
.footerbtnstyle {
   
    display: flex;
   
}
.footerbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 1rem;
}
.footerbtn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
   padding-bottom: 2rem;
}
.footerbtn1 button {
     width: 270px;
    height: 63px;
    background: #F8F8F8;
    box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
    border-radius: 5px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
 
  
    color: #949494;
}
.footerend button {
    width: 270px;
    height: 63px;
    background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
    box-shadow: 0px 4px 0px #B68500;
    border-radius: 5px 5px 10px 10px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #2E2E30;
}
.footerheader1 {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.3rem;
}
.footerbtnstyle1 {
    
    
    /* text-align: center; */
}
.menyuend {
    display: inline-block;
    padding: 0 7px;
}
.firstheader2 {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
   
}
.firstheader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

}


@media  (max-width: 400px) {
  .firstheader1 button {
  width: 231px;
height: 44px;


background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
box-shadow: 0px 4px 0px #B68500;
border-radius: 5px 5px 10px 10px;
  }
.firstheader3 {
      position: relative;
     
    background: url(../img/my.jpg) no-repeat center;
    background-size: cover;
    width: 100px;
    height:100px;
    border-radius: 50%;
    border: 5px solid #fff;

    
   }
   .firstheader {
   display: flex;
   justify-content: space-between;
   
   }
.logo img {
    height: 30px;
    padding: 10px;
  }

  .menyuend {
    display: inline-block;
    padding: 0 14px;
}
  .firstheader2 {
    display: flex;
    justify-content: center;

    width: 160px;
    height: 160px;
    border: 8px solid green;
    margin-left: -2rem;

}
.firstheader1 h5 {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #FFBB01;
    padding-top: 1rem;  ;
    margin: 0;
    
} 
 .menyuend {
    display: inline-block;
    padding: 0 70px;
  }
  .menyuend img {
    height: 15px;
    padding: 0 6px;
}
.firstheader1 h2 {
  font-size: 38px;
  color: #000;
   padding: 0;
    margin: 0;
    width: 430px;
}

.firstheader1 p {
 width: 220px;
height: 105px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 120%;
/* or 20px */

text-align: center;

color: #FFFFFF;
  padding-left: 7rem;
    margin: 0;
}
.firstheader {
  padding: 0;
  margin: 0;
  display: flex;
  text-align: center;
  flex-direction: column-reverse;
 align-items: center;
}
.slide-itemtxt h2 {
  color: #fff;
  
   width: 400px;
height: 28px;



font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;

}
.slideimgheade h4 {
   width: 53px;
height: 21px;


font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #FFFFFF;

}
.slideimgheade h5{
   width: 100px;
height: 19px;


font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
/* identical to box height */


color: #FFFFFF;

}
.third {
  padding-bottom: 4rem;
}
.rel_slider {
   height: 200px;
   border: none;
  padding-bottom: 35rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
}




.slideimgheader, .slideimgheader1 h4,h5 {
   color: #fff;
 
}
.slideimgheade {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.slidep {
  display: flex;
}




.scripttxt h3, p {
   color: #fff;
  
}


.scripttxt p{
   max-width: 300px;
 font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 150%;
/* or 24px */


color: #FFFFFF;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    height: 2px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
   
   
background: #FFBB01;


}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    background-color: red;
}
.slick-dots li.slick-active button:before {
  
    opacity: .75;
    font-size: 40px;
    
 }
.footerheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.secondtxt {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.secondtxt h2 {
    width: 400px;
    height: 42px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    color: #FFFFFF;
}
.secondhead {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.thirdhead {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.thirdhead h2 {
    width: 350px;
    height: 42px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    color: #FFFFFF;
}
.footerhead {
  margin: 0;
  padding: 0;
   display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.footerbox {
    width: 310px;
    height: 360px;
    background: #FFFFFF;
    box-shadow: -5px 5px 0px #FFC41D;
    border-radius: 5px;
}
.footerboxtxt {
    text-align: center;
    font-size: 12px;
    line-height: 22px;
    color: #000000;
    padding: 0.2rem;
}
.footerbtn button {
    width: 270px;
    height: 63px;
    background: #F8F8F8;
    box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
    border-radius: 5px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    align-items: center;
    color: #949494;
}
.footerbtnstyle {
   
    display: flex;
   
}
.footerbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 1rem;
}
.footerbtn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
   padding-bottom: 2rem;
}
.footerbtn1 button {
     width: 270px;
    height: 63px;
    background: #F8F8F8;
    box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
    border-radius: 5px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
 
  
    color: #949494;
}
.footerend button {
    width: 270px;
    height: 63px;
    background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
    box-shadow: 0px 4px 0px #B68500;
    border-radius: 5px 5px 10px 10px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #2E2E30;
}
.footerheader1 {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.3rem;
}

.menyuend {
    display: inline-block;
    padding: 0 14px;
}
.firstheader2 {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 5px solid #fff;
   
}
.firstheader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

 .secondtxt h2 {
  margin: 0;
  padding-top: 2rem;
  padding-bottom:  3rem;
  font-size: 22px;
 }
 .secondhead1 h3 {
    max-width: 353px;
    height: 28px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}
.secondhead1 p {
    width: 287px;
    height: 89px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.slide-itemimg img {
    width: 200px;
    height:130px;
}
.slide-itemtxt {
  margin: 0;
  padding: 0;
  
}
.slide-itemtxt h2 {
  font-size: 10px;
}
.slideimgheader1 {
  
    max-width: 20px;

}
.slideimgheader {
  max-width: 20px;
}
.sstyle{
  vertical-align: top;
}
.slideimgheade {

}
.footerbox {
    width: 280px;
    height: 360px;
    background: #FFFFFF;
    box-shadow: -5px 5px 0px #FFC41D;
    border-radius: 5px;
  
}
.footerheader1 {
  padding-top: 2rem;
   padding-bottom:  2rem
}
.footerboxtxt {
    text-align: center;
    font-size: 10px;
    line-height: 22px;
    color: #000000;
    padding: 0.2rem;
}
.footerbtn button {
    width: 250px;
    height: 53px;
    background: #F8F8F8;
    box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
    border-radius: 5px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    align-items: center;
    color: #949494;
}
.footerbtnstyle {
   
    display: flex;
   
}
.footerbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 1rem;
}
.footerbtn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
   padding-bottom: 2rem;
}
.footerbtn1 button {
     width: 250px;
    height: 53px;
    background: #F8F8F8;
    box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
    border-radius: 5px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
 
  
    color: #949494;
}
.footerend button {
    width: 250px;
    height: 53px;
    background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
    box-shadow: 0px 4px 0px #B68500;
    border-radius: 5px 5px 10px 10px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #2E2E30;
}
.footerleft {
  flex-direction: column;
  justify-content: center;

}
}

@media only screen and (max-width: 320px) {
   .firstheader2 {
    display: flex;
    justify-content: center;
    margin-top: -3rem;
    width: 200px;
    height: 200px;
    border: 8px solid grey;

}
.logo {
    margin-left: 1rem;
}
.menyuend {
    display: inline-block;
    padding: 0 1px;
}
.menyuend img {
    height: 20px;
    padding: 0 10px;
}
.firstheader2 {
    display: flex;
   margin-left: 4rem;
}
.firstheader1 {
  text-align: center;
    margin-top: 11rem;
    margin-left: 1rem;
}
.firstheader1 h3 {
    margin-left: 5rem;
    font-size: 32px;
}
.firstheader1 h2 {
    margin-left: -2rem;
    font-size: 58px;
}
.firstheader1 h2 {
    margin-left: -1rem;
    font-size: 28px;
}
.firstheader1 p {
    max-width: 420px;
    height: 86px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    margin: 0 auto;
    color: #FFFFFF;
}
.firstheader1 button {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #2E2E30;
    width: 285px;
    height: 65.17px;
    background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
    box-shadow: 0px 4px 0px #B68500;
    border-radius: 5px 5px 10px 10px;
    margin-top: 2rem;
    margin-left: 1rem;
    border: none;
}
}